.cart-holder {
    display: flex;
    flex-direction: column;

}

.cart-holder h1 {
    text-align: center;
    margin: 10px;
    font-size: 3rem;
}


.cart-item {
    display: grid;
    grid-template-columns: 1fr 7fr;
    margin: 20px 10px;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(128, 128, 128, 0.8));
    padding: 10px;
    border-radius: 10px;
}

.cart-item img {
    width: 200px;
}

@media screen and (max-width: 600px) {
    .cart-item img {
        width: 100px;
    }
}

.cart-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 10px;
}

.cart-info h3,
.cart-info p,
.cart-info span {
    margin: 5px;
}


.cart-info h3 {
    font-size: 1.5rem;
 }


.product-info {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    border: 1px black solid;
    border-radius: 10px;
    margin: 5px;
}

.product-info p {
    margin: 5px;
}

.product-control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product-control button {
    padding: 2px 5px;
    margin: 2px;
}

.price {
    text-align: center;
    font-size: 1.8rem;
}

.price button {
    padding: 5px 10px;
    margin: 10px;
    font-size: 1.2rem;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.form form {
    border-radius: 10px;
    background-color: grey;
    width: fit-content;
    padding: 10px;
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form form input {
    padding: 3px;
}

.form button {
    margin: 5px;
    padding: 5px 10px;
}

.empty {
    text-align: center;
    font-size: 1.5rem;
    margin: 40px 5px 10px 5px;
}




