.shop h1 {
    margin: 30px 10px;
    text-align: center;
    font-size: 2.2rem;
}

.product-holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    align-items: stretch;
    justify-items: stretch;
}


.product-holder a {
    text-decoration: none;
    color: inherit;
    overflow: hidden;
  }